#![allow(dead_code, unused_variables, unused_mut)]
use crate::runtime::*;
use crate::entities::*;
use teaql_core::Entity;
use teaql_core::Expr;
use std::marker::PhantomData;
use serde_json::Value as JsonValue;

pub mod request_support {
    #![allow(unused_imports)]
    use std::{collections::BTreeMap, future::Future, marker::PhantomData};

    use serde_json::Value as JsonValue;
    use teaql_core::{
        BinaryOp, Expr, Record,
        RelationAggregate as RuntimeRelationAggregate, SelectQuery, SmartList,
    };
    use teaql_runtime::{ContextError, GraphNode, RepositoryError, RuntimeError, UserContext};
    use teaql_data_service::QueryExecutor;

    pub(crate) const COUNT_ALIAS: &str = "count";
    pub(crate) const TYPE_FIELD: &str = "internal_type";
    pub(crate) const TYPE_GROUP_FIELD: &str = "type_group";

    #[derive(Clone, Copy, Debug, PartialEq, Eq)]
    pub enum FieldOperator {
        Equal,
        NotEqual,
        GreaterThan,
        GreaterThanOrEqual,
        LessThan,
        LessThanOrEqual,
        Between,
        In,
        NotIn,
        Contain,
        NotContain,
        BeginWith,
        NotBeginWith,
        EndWith,
        NotEndWith,
        SoundsLike,
        IsNull,
        IsNotNull,
    }

    #[derive(Clone, Debug, PartialEq)]
    pub struct DateRange<T> {
        pub start: T,
        pub end: T,
    }

    impl<T> DateRange<T> {
        pub fn new(start: T, end: T) -> Self {
            Self { start, end }
        }
    }

    pub trait EntityReference {
        fn entity_id_value(self) -> teaql_core::Value;
    }

    pub trait TeaqlRecordRepository {
        type Error: std::error::Error + Send + Sync + 'static;

        async fn fetch_all(&self, query: &SelectQuery) -> Result<Vec<Record>, RepositoryError<Self::Error>>;

        async fn fetch_smart_list(&self, query: &SelectQuery) -> Result<SmartList<Record>, RepositoryError<Self::Error>>;

        async fn fetch_smart_list_with_relation_aggregates(
            &self,
            query: &SelectQuery,
            relation_aggregates: &[RuntimeRelationAggregate],
        ) -> Result<SmartList<Record>, RepositoryError<Self::Error>>;
    }

    pub trait TeaqlEntityRepository: TeaqlRecordRepository {
        async fn fetch_enhanced_entities<T>(&self, query: &SelectQuery) -> Result<SmartList<T>, RepositoryError<Self::Error>>
        where
            T: teaql_core::Entity;

        async fn fetch_enhanced_entities_with_relation_aggregates<T>(
            &self,
            query: &SelectQuery,
            relation_aggregates: &[RuntimeRelationAggregate],
        ) -> Result<SmartList<T>, RepositoryError<Self::Error>>
        where
            T: teaql_core::Entity;

        async fn save_entity_graph<T>(&self, entity: T) -> Result<GraphNode, RepositoryError<Self::Error>>
        where
            T: teaql_core::Entity;
    }

    impl<'a, E> TeaqlRecordRepository for teaql_runtime::ResolvedRepository<'a, E>
    where
        E: teaql_data_service::QueryExecutor + teaql_data_service::MutationExecutor + Send + Sync + 'static,
    {
        type Error = E::Error;

        async fn fetch_all(&self, query: &SelectQuery) -> Result<Vec<Record>, RepositoryError<Self::Error>> {
            teaql_runtime::ResolvedRepository::fetch_all(self, query).await
        }

        async fn fetch_smart_list(&self, query: &SelectQuery) -> Result<SmartList<Record>, RepositoryError<Self::Error>> {
            teaql_runtime::ResolvedRepository::fetch_smart_list(self, query).await
        }

        async fn fetch_smart_list_with_relation_aggregates(
            &self,
            query: &SelectQuery,
            relation_aggregates: &[RuntimeRelationAggregate],
        ) -> Result<SmartList<Record>, RepositoryError<Self::Error>> {
            teaql_runtime::ResolvedRepository::fetch_smart_list_with_relation_aggregates(
                self,
                query,
                relation_aggregates,
            ).await
        }
    }

    impl<'a, E> TeaqlEntityRepository for teaql_runtime::ResolvedRepository<'a, E>
    where
        E: teaql_data_service::QueryExecutor + teaql_data_service::MutationExecutor + Send + Sync + 'static,
    {
        async fn fetch_enhanced_entities<T>(&self, query: &SelectQuery) -> Result<SmartList<T>, RepositoryError<Self::Error>>
        where
            T: teaql_core::Entity,
        {
            teaql_runtime::ResolvedRepository::fetch_enhanced_entities(self, query).await
        }

        async fn fetch_enhanced_entities_with_relation_aggregates<T>(
            &self,
            query: &SelectQuery,
            relation_aggregates: &[RuntimeRelationAggregate],
        ) -> Result<SmartList<T>, RepositoryError<Self::Error>>
        where
            T: teaql_core::Entity,
        {
            teaql_runtime::ResolvedRepository::fetch_enhanced_entities_with_relation_aggregates(
                self,
                query,
                relation_aggregates,
            ).await
        }

        async fn save_entity_graph<T>(&self, entity: T) -> Result<GraphNode, RepositoryError<Self::Error>>
        where
            T: teaql_core::Entity,
        {
            teaql_runtime::ResolvedRepository::save_entity_graph(self, entity).await
        }
    }

    pub type TeaqlRepositoryError<R> = RepositoryError<<R as TeaqlRecordRepository>::Error>;

    pub trait TeaqlRuntime {
        fn user_context(&self) -> &UserContext;

        async fn fetch_facet_smart_list(
            &self,
            entity: &str,
            query: &SelectQuery,
            relation_aggregates: &[RuntimeRelationAggregate],
            trace_context: Vec<teaql_core::TraceNode>,
        ) -> Result<SmartList<Record>, RuntimeError>;
    }

    /// Internal trait for repository access. Application code should not use this trait directly.
    #[doc(hidden)]
    pub trait AuditedSave {
    type Context;
    fn save(self, ctx: &Self::Context) -> std::pin::Pin<Box<dyn std::future::Future<Output = Result<teaql_runtime::GraphNode, std::io::Error>> + Send + '_>>;
}

impl<T: teaql_core::Entity> AuditedSave for teaql_core::entity::Audited<T> {
    type Context = teaql_runtime::UserContext;
    fn save(self, ctx: &Self::Context) -> std::pin::Pin<Box<dyn std::future::Future<Output = Result<teaql_runtime::GraphNode, std::io::Error>> + Send + '_>> {
        self.inner._save(ctx)
    }
}

pub trait TeaqlRepositoryProvider: TeaqlRuntime {
    {%- for entity in entities %}
        type {{ entity.rust_struct }}Repository<'a>: TeaqlEntityRepository + 'a
        where
            Self: 'a;

        fn {{ entity.rust_module }}_repository(&self) -> Result<Self::{{ entity.rust_struct }}Repository<'_>, ContextError>;
    {%- endfor %}
    }

    #[allow(async_fn_in_trait)]
    pub trait TeaqlUserContextExt {
        async fn commit_data(&self) -> Result<(), RepositoryError<teaql_sql::SqlExecutorError<teaql_provider_rusqlite::MutationExecutorError>>>;

        async fn transaction_data<F, Fut>(&self, f: F) -> Result<(), RepositoryError<teaql_sql::SqlExecutorError<teaql_provider_rusqlite::MutationExecutorError>>>
        where
            F: FnOnce() -> Fut,
            Fut: Future<Output = Result<(), RepositoryError<teaql_sql::SqlExecutorError<teaql_provider_rusqlite::MutationExecutorError>>>>;
    }

    impl TeaqlUserContextExt for teaql_runtime::UserContext {
        async fn commit_data(&self) -> Result<(), RepositoryError<teaql_sql::SqlExecutorError<teaql_provider_rusqlite::MutationExecutorError>>> {
            self.commit_changes::<crate::ServiceRuntimeExecutor>().await
        }

        async fn transaction_data<F, Fut>(&self, f: F) -> Result<(), RepositoryError<teaql_sql::SqlExecutorError<teaql_provider_rusqlite::MutationExecutorError>>>
        where
            F: FnOnce() -> Fut,
            Fut: Future<Output = Result<(), RepositoryError<teaql_sql::SqlExecutorError<teaql_provider_rusqlite::MutationExecutorError>>>>,
        {
            let executor = self.require_resource::<crate::ServiceRuntimeExecutor>().map_err(|err| {
                RepositoryError::Runtime(RuntimeError::Graph(format!(
                    "cannot start transaction without executor: {err}"
                )))
            })?;
            let root = self.entity_root();

            executor.begin_transaction().map_err(RepositoryError::Executor)?;
            root.push_change_set();

            let result = f().await;
            match result {
                Ok(()) => {
                    root.pop_change_set();
                    executor.commit_transaction().map_err(RepositoryError::Executor)?;
                    Ok(())
                }
                Err(err) => {
                    root.pop_change_set();
                    executor.rollback_transaction().map_err(RepositoryError::Executor)?;
                    Err(err)
                }
            }
        }
    }

    impl TeaqlRuntime for teaql_runtime::UserContext {
        fn user_context(&self) -> &UserContext {
            self
        }

        async fn fetch_facet_smart_list(
            &self,
            entity: &str,
            query: &SelectQuery,
            relation_aggregates: &[RuntimeRelationAggregate],
            trace_context: Vec<teaql_core::TraceNode>,
        ) -> Result<SmartList<Record>, RuntimeError> {
            self.resolve_repository::<crate::ServiceRuntimeExecutor>(entity.to_owned())
                .map_err(|err| RuntimeError::Graph(err.to_string()))?
                .with_trace_context(trace_context)
                .fetch_smart_list_with_relation_aggregates(query, relation_aggregates).await
                .map_err(|err| RuntimeError::Graph(err.to_string()))
        }
    }

    impl TeaqlRepositoryProvider for teaql_runtime::UserContext {
{%- for entity in entities %}
    type {{ entity.rust_struct }}Repository<'a> = teaql_runtime::ResolvedRepository<'a, crate::ServiceRuntimeExecutor> where Self: 'a;

    fn {{ entity.rust_module }}_repository(&self) -> Result<Self::{{ entity.rust_struct }}Repository<'_>, teaql_runtime::ContextError> {
        self.resolve_repository::<crate::ServiceRuntimeExecutor>("{{ entity.name }}")
    }
{%- endfor %}
}

#[derive(Clone, Debug, PartialEq)]
    pub struct QuerySelection {
        pub query: SelectQuery,
        pub relation_selections: Vec<RelationSelection>,
        pub relation_filters: Vec<RelationFilter>,
        pub child_enhancements: Vec<QuerySelection>,
        pub query_options: QueryOptions,
    }

    impl QuerySelection {
        pub fn new(query: impl Into<SelectQuery>) -> Self {
            Self {
                query: query.into(),
                relation_selections: Vec::new(),
                relation_filters: Vec::new(),
                child_enhancements: Vec::new(),
                query_options: QueryOptions::default(),
            }
        }

        pub fn into_query(self) -> SelectQuery {
            let query = apply_relation_selections(self.query, self.relation_selections);
            apply_runtime_metadata(query, &self.query_options, &self.child_enhancements)
        }
    }

    impl From<SelectQuery> for QuerySelection {
        fn from(query: SelectQuery) -> Self {
            QuerySelection::new(query)
        }
    }

    #[derive(Clone, Debug, PartialEq)]
    pub struct RelationSelection {
        pub name: String,
        pub query: SelectQuery,
        pub relation_selections: Vec<RelationSelection>,
        pub relation_filters: Vec<RelationFilter>,
        pub child_enhancements: Vec<QuerySelection>,
        pub query_options: QueryOptions,
    }

    impl RelationSelection {
        pub fn new(name: impl Into<String>, selection: impl Into<QuerySelection>) -> Self {
            let selection = selection.into();
            Self {
                name: name.into(),
                query: selection.query,
                relation_selections: selection.relation_selections,
                relation_filters: selection.relation_filters,
                child_enhancements: selection.child_enhancements,
                query_options: selection.query_options,
            }
        }

        pub fn into_query(self) -> SelectQuery {
            let query = apply_relation_selections(self.query, self.relation_selections);
            apply_runtime_metadata(query, &self.query_options, &self.child_enhancements)
        }
    }

    #[derive(Clone, Debug, PartialEq)]
    pub struct RelationFilter {
        pub name: String,
        pub query: SelectQuery,
        pub relation_selections: Vec<RelationSelection>,
        pub relation_filters: Vec<RelationFilter>,
        pub child_enhancements: Vec<QuerySelection>,
        pub query_options: QueryOptions,
    }

    impl RelationFilter {
        pub fn new(name: impl Into<String>, selection: impl Into<QuerySelection>) -> Self {
            let selection = selection.into();
            Self {
                name: name.into(),
                query: selection.query,
                relation_selections: selection.relation_selections,
                relation_filters: selection.relation_filters,
                child_enhancements: selection.child_enhancements,
                query_options: selection.query_options,
            }
        }
    }

    #[derive(Clone, Debug, Default, PartialEq)]
    pub struct QueryOptions {
        pub comment: Option<String>,
        pub raw_sql: Option<String>,
        pub raw_sql_search_criteria: Vec<String>,
        pub dynamic_properties: Vec<RawDynamicProperty>,
        pub raw_projections: Vec<RawProjection>,
        pub relation_aggregates: Vec<RelationAggregate>,
        pub object_group_bys: Vec<ObjectGroupBy>,
        pub facets: Vec<FacetRequest>,
    }

    #[derive(Clone, Debug, PartialEq, Eq)]
    pub struct UnsafeRawSqlSegment {
        sql: String,
    }

    impl UnsafeRawSqlSegment {
        pub fn trusted(sql: impl Into<String>) -> Self {
            Self { sql: sql.into() }
        }

        pub fn into_sql(self) -> String {
            self.sql
        }
    }

    #[derive(Clone, Debug, PartialEq, Eq)]
    pub struct RawDynamicProperty {
        pub property_name: String,
        pub raw_sql_segment: String,
    }

    impl RawDynamicProperty {
        pub fn new(property_name: impl Into<String>, raw_sql_segment: UnsafeRawSqlSegment) -> Self {
            Self {
                property_name: property_name.into(),
                raw_sql_segment: raw_sql_segment.into_sql(),
            }
        }
    }

    #[derive(Clone, Debug, PartialEq, Eq)]
    pub struct RawProjection {
        pub property_name: String,
        pub raw_sql_segment: String,
    }

    impl RawProjection {
        pub fn new(property_name: impl Into<String>, raw_sql_segment: UnsafeRawSqlSegment) -> Self {
            Self {
                property_name: property_name.into(),
                raw_sql_segment: raw_sql_segment.into_sql(),
            }
        }
    }

    #[derive(Clone, Debug, PartialEq)]
    pub struct RelationAggregate {
        pub relation_name: String,
        pub alias: String,
        pub query: QuerySelection,
        pub single_result: bool,
    }

    impl RelationAggregate {
        pub fn new(
            relation_name: impl Into<String>,
            alias: impl Into<String>,
            query: impl Into<QuerySelection>,
            single_result: bool,
        ) -> Self {
            Self {
                relation_name: relation_name.into(),
                alias: alias.into(),
                query: query.into(),
                single_result,
            }
        }
    }

    #[derive(Clone, Debug, PartialEq)]
    pub struct FacetRequest {
        pub facet_name: String,
        pub relation_name: String,
        pub query: QuerySelection,
        pub include_all_facets: bool,
    }

    impl FacetRequest {
        pub fn new(
            facet_name: impl Into<String>,
            relation_name: impl Into<String>,
            query: impl Into<QuerySelection>,
            include_all_facets: bool,
        ) -> Self {
            Self {
                facet_name: facet_name.into(),
                relation_name: relation_name.into(),
                query: query.into(),
                include_all_facets,
            }
        }
    }

    #[derive(Clone, Debug, PartialEq)]
    pub struct ObjectGroupBy {
        pub property_name: String,
        pub storage_field: String,
        pub query: QuerySelection,
    }

    impl ObjectGroupBy {
        pub fn new(
            property_name: impl Into<String>,
            storage_field: impl Into<String>,
            query: impl Into<QuerySelection>,
        ) -> Self {
            Self {
                property_name: property_name.into(),
                storage_field: storage_field.into(),
                query: query.into(),
            }
        }
    }

    pub(crate) fn apply_relation_selections(
        mut query: SelectQuery,
        relation_selections: Vec<RelationSelection>,
    ) -> SelectQuery {
        for selection in relation_selections {
            query = query.relation_query(selection.name.clone(), selection.into_query());
        }
        query
    }

    pub(crate) fn runtime_relation_aggregates(options: &QueryOptions) -> Vec<RuntimeRelationAggregate> {
        options
            .relation_aggregates
            .iter()
            .map(|aggregate| {
                RuntimeRelationAggregate::new(
                    aggregate.relation_name.clone(),
                    aggregate.alias.clone(),
                    aggregate.query.clone().into_query(),
                    aggregate.single_result,
                )
            })
            .collect()
    }

    pub(crate) async fn execute_facets<C>(
        ctx: &C,
        outer_query: &SelectQuery,
        options: &QueryOptions,
    ) -> Result<BTreeMap<String, SmartList<Record>>, RuntimeError>
    where
        C: TeaqlRuntime + ?Sized,
    {
        let mut facets = BTreeMap::new();
        for facet in &options.facets {
            let mut selection = facet.query.clone();
            merge_outer_filter_into_facet_aggregates(&mut selection, outer_query);
            if !facet.include_all_facets {
                selection = restrict_facet_to_outer_query(ctx, selection, outer_query, &facet.relation_name)?;
            }
            let relation_aggregates = runtime_relation_aggregates(&selection.query_options);
            let query = apply_runtime_metadata(
                selection.query,
                &selection.query_options,
                &selection.child_enhancements,
            );
            let mut chain = outer_query.trace_chain.clone();
            chain.push(teaql_core::TraceNode { 
                entity_type: query.entity.clone(),
                entity_id: None,
                comment: facet.facet_name.clone(),
            });

            let facet_rows = ctx.fetch_facet_smart_list(&query.entity, &query, &relation_aggregates, chain).await?;
            facets.insert(facet.facet_name.clone(), facet_rows);
        }
        Ok(facets)
    }

    pub(crate) fn merge_outer_filter_into_facet_aggregates(selection: &mut QuerySelection, outer_query: &SelectQuery) {
        let Some(filter) = outer_query.filter.clone() else {
            return;
        };
        for aggregate in &mut selection.query_options.relation_aggregates {
            if aggregate.query.query.entity == outer_query.entity {
                aggregate.query.query = aggregate.query.query.clone().and_filter(filter.clone());
            }
        }
    }

    pub(crate) fn restrict_facet_to_outer_query<C>(
        ctx: &C,
        mut selection: QuerySelection,
        outer_query: &SelectQuery,
        relation_name: &str,
    ) -> Result<QuerySelection, RuntimeError>
    where
        C: TeaqlRuntime + ?Sized,
    {
        let descriptor = ctx
            .user_context()
            .entity(&outer_query.entity)
            .cloned()
            .ok_or_else(|| RuntimeError::Graph(format!("missing entity: {}", outer_query.entity)))?;
        let relation = descriptor
            .relation_by_name(relation_name)
            .cloned()
            .ok_or_else(|| RuntimeError::MissingRelation {
                entity: outer_query.entity.clone(),
                relation: relation_name.to_owned(),
            })?;
        let mut subquery = outer_query.clone();
        subquery.projection.clear();
        subquery.expr_projection.clear();
        subquery.order_by.clear();
        subquery.slice = None;
        subquery.aggregates.clear();
        subquery.group_by.clear();
        subquery.relations.clear();
        selection.query = selection.query.and_filter(Expr::in_subquery(
            relation.foreign_key,
            descriptor,
            subquery,
            relation.local_key,
        ));
        Ok(selection)
    }

    pub(crate) fn attach_facets<T>(rows: &mut SmartList<T>, facets: BTreeMap<String, SmartList<Record>>) {
        for (name, facet) in facets {
            rows.add_facet(name, facet);
        }
    }

    pub(crate) fn apply_runtime_metadata(
        mut query: SelectQuery,
        options: &QueryOptions,
        child_enhancements: &[QuerySelection],
    ) -> SelectQuery {
        if let Some(c) = options.comment.clone() {
            query = query.comment(c);
        }
        query.raw_sql = options.raw_sql.clone();
        query.raw_sql_search_criteria = options.raw_sql_search_criteria.clone();
        query.dynamic_properties = options
            .dynamic_properties
            .iter()
            .map(|projection| {
                teaql_core::RawSqlProjection::new(
                    projection.property_name.clone(),
                    projection.raw_sql_segment.clone(),
                )
            })
            .collect();
        query.raw_projections = options
            .raw_projections
            .iter()
            .map(|projection| {
                teaql_core::RawSqlProjection::new(
                    projection.property_name.clone(),
                    projection.raw_sql_segment.clone(),
                )
            })
            .collect();
        query.object_group_bys = options
            .object_group_bys
            .iter()
            .map(|group_by| {
                teaql_core::ObjectGroupBy::new(
                    group_by.property_name.clone(),
                    group_by.storage_field.clone(),
                    group_by.query.clone().into_query(),
                )
            })
            .collect();
        query.child_enhancements = child_enhancements
            .iter()
            .cloned()
            .map(QuerySelection::into_query)
            .collect();
        query
    }

    pub(crate) fn field_operator_expr(
        field: &str,
        operator: FieldOperator,
        values: Vec<teaql_core::Value>,
    ) -> Expr {
        match operator {
            FieldOperator::Equal => Expr::eq(field, required_value(operator, &values, 0)),
            FieldOperator::NotEqual => Expr::ne(field, required_value(operator, &values, 0)),
            FieldOperator::GreaterThan => Expr::gt(field, required_value(operator, &values, 0)),
            FieldOperator::GreaterThanOrEqual => Expr::gte(field, required_value(operator, &values, 0)),
            FieldOperator::LessThan => Expr::lt(field, required_value(operator, &values, 0)),
            FieldOperator::LessThanOrEqual => Expr::lte(field, required_value(operator, &values, 0)),
            FieldOperator::Between => Expr::between(
                field,
                required_value(operator, &values, 0),
                required_value(operator, &values, 1),
            ),
            FieldOperator::In => Expr::in_list(field, values),
            FieldOperator::NotIn => Expr::not_in_list(field, values),
            FieldOperator::Contain => Expr::contain(field, required_text(operator, &values, 0)),
            FieldOperator::NotContain => Expr::not_contain(field, required_text(operator, &values, 0)),
            FieldOperator::BeginWith => Expr::begin_with(field, required_text(operator, &values, 0)),
            FieldOperator::NotBeginWith => Expr::not_begin_with(field, required_text(operator, &values, 0)),
            FieldOperator::EndWith => Expr::end_with(field, required_text(operator, &values, 0)),
            FieldOperator::NotEndWith => Expr::not_end_with(field, required_text(operator, &values, 0)),
            FieldOperator::SoundsLike => Expr::sound_like(field, required_value(operator, &values, 0)),
            FieldOperator::IsNull => Expr::is_null(field),
            FieldOperator::IsNotNull => Expr::is_not_null(field),
        }
    }

    pub(crate) fn field_operator_column_expr(field: &str, operator: FieldOperator, other_field: &str) -> Expr {
        let binary_op = match operator {
            FieldOperator::Equal => BinaryOp::Eq,
            FieldOperator::NotEqual => BinaryOp::Ne,
            FieldOperator::GreaterThan => BinaryOp::Gt,
            FieldOperator::GreaterThanOrEqual => BinaryOp::Gte,
            FieldOperator::LessThan => BinaryOp::Lt,
            FieldOperator::LessThanOrEqual => BinaryOp::Lte,
            FieldOperator::Contain => BinaryOp::Like,
            FieldOperator::NotContain => BinaryOp::NotLike,
            FieldOperator::BeginWith => BinaryOp::Like,
            FieldOperator::NotBeginWith => BinaryOp::NotLike,
            FieldOperator::EndWith => BinaryOp::Like,
            FieldOperator::NotEndWith => BinaryOp::NotLike,
            unsupported => panic!("{unsupported:?} is not supported for property-to-property filters"),
        };
        Expr::compare_columns(field, binary_op, other_field)
    }

    pub(crate) fn dynamic_json_value_to_teaql_value(value: &JsonValue) -> teaql_core::Value {
        match value {
            JsonValue::Null => teaql_core::Value::Null,
            JsonValue::Bool(value) => teaql_core::Value::Bool(*value),
            JsonValue::Number(value) => {
                if let Some(value) = value.as_i64() {
                    teaql_core::Value::I64(value)
                } else if let Some(value) = value.as_u64() {
                    teaql_core::Value::U64(value)
                } else if let Some(value) = value.as_f64() {
                    teaql_core::Value::F64(value)
                } else {
                    teaql_core::Value::Null
                }
            }
            JsonValue::String(value) => teaql_core::Value::Text(value.trim().to_owned()),
            JsonValue::Array(values) => teaql_core::Value::List(
                values
                    .iter()
                    .map(dynamic_json_value_to_teaql_value)
                    .collect(),
            ),
            JsonValue::Object(object) => object
                .get("id")
                .map(dynamic_json_value_to_teaql_value)
                .unwrap_or(teaql_core::Value::Null),
        }
    }

    pub(crate) fn dynamic_json_values(value: &JsonValue) -> Vec<teaql_core::Value> {
        match value {
            JsonValue::Array(values) => values
                .iter()
                .map(dynamic_json_value_to_teaql_value)
                .collect(),
            value => vec![dynamic_json_value_to_teaql_value(value)],
        }
    }

    pub(crate) fn dynamic_json_operator(value: &JsonValue) -> FieldOperator {
        match value {
            JsonValue::String(value) if value.eq_ignore_ascii_case("__is_null__") => FieldOperator::IsNull,
            JsonValue::String(value) if value.eq_ignore_ascii_case("__is_not_null__") => {
                FieldOperator::IsNotNull
            }
            JsonValue::String(_) => FieldOperator::Contain,
            JsonValue::Number(_) | JsonValue::Bool(_) => FieldOperator::Equal,
            JsonValue::Array(values)
                if values
                    .first()
                    .map(JsonValue::is_string)
                    .unwrap_or(false) =>
            {
                FieldOperator::In
            }
            JsonValue::Array(values)
                if values
                    .first()
                    .map(JsonValue::is_object)
                    .unwrap_or(false) =>
            {
                FieldOperator::In
            }
            JsonValue::Array(values) if values.len() == 2 => FieldOperator::Between,
            _ => FieldOperator::Equal,
        }
    }

    pub(crate) fn dynamic_json_filter_expr(field: &str, value: &JsonValue) -> Expr {
        let operator = dynamic_json_operator(value);
        field_operator_expr(field, operator, dynamic_json_values(value))
    }

    pub(crate) fn dynamic_json_u64_field(object: &serde_json::Map<String, JsonValue>, field: &str) -> Option<u64> {
        object.get(field).and_then(|value| {
            value
                .as_u64()
                .or_else(|| value.as_i64().and_then(|value| u64::try_from(value).ok()))
        })
    }

    pub(crate) fn remove_default_live_filter(filter: Option<Expr>) -> Option<Expr> {
        let default_filter = Expr::gt("version", 0_i64);
        remove_filter_expr(filter?, &default_filter)
    }

    pub(crate) fn remove_filter_expr(filter: Expr, target: &Expr) -> Option<Expr> {
        if &filter == target {
            return None;
        }
        match filter {
            Expr::And(parts) => {
                let mut retained = parts
                    .into_iter()
                    .filter_map(|part| remove_filter_expr(part, target))
                    .collect::<Vec<_>>();
                match retained.len() {
                    0 => None,
                    1 => retained.pop(),
                    _ => Some(Expr::And(retained)),
                }
            }
            other => Some(other),
        }
    }

    pub(crate) fn required_value(
        operator: FieldOperator,
        values: &[teaql_core::Value],
        index: usize,
    ) -> teaql_core::Value {
        values.get(index).cloned().unwrap_or_else(|| {
            panic!("{operator:?} requires value at index {index}")
        })
    }

    pub(crate) fn required_text(operator: FieldOperator, values: &[teaql_core::Value], index: usize) -> String {
        match required_value(operator, values, index) {
            teaql_core::Value::Text(value) => value,
            value => panic!("{operator:?} requires text value, got {value:?}"),
        }
    }

    impl EntityReference for teaql_core::Value {
        fn entity_id_value(self) -> teaql_core::Value {
            self
        }
    }

    impl EntityReference for u64 {
        fn entity_id_value(self) -> teaql_core::Value {
            teaql_core::Value::U64(self)
        }
    }

}
use request_support::*;

pub struct PurposedQuery<T> {
    pub inner: T,
    pub purpose: String,
}

impl<T> PurposedQuery<T> {
    pub fn new(inner: T, purpose: impl Into<String>) -> Self {
        Self { inner, purpose: purpose.into() }
    }
}

pub struct Q;

impl Q {
{%- for entity in entities %}
{%- set suffix = "s" %}
{%- if entity.rust_module == "task_status" %}{% set suffix = "" %}{%- endif %}
{%- set func_name = entity.rust_module ~ suffix %}
    pub fn {{ func_name }}() -> {{ entity.rust_struct }}Request {
        {{ entity.rust_struct }}Request::new()
    }
    pub fn {{ func_name }}_minimal() -> {{ entity.rust_struct }}Request {
        {{ entity.rust_struct }}Request::new().select_self()
    }
    pub fn {{ func_name }}_with_children() -> {{ entity.rust_struct }}Request {
        {{ entity.rust_struct }}Request::new().select_children()
    }
{%- endfor %}
}

{%- for entity in entities %}
pub struct {{ entity.rust_struct }}Request<R = crate::{{ entity.rust_struct }}> {
    pub query: teaql_core::SelectQuery,
    pub relation_selections: Vec<RelationSelection>,
    pub relation_filters: Vec<RelationFilter>,
    pub child_enhancements: Vec<QuerySelection>,
    pub query_options: QueryOptions,
    pub filter_id: Option<u64>,
    marker: PhantomData<R>,
}

impl<R> Into<QuerySelection> for {{ entity.rust_struct }}Request<R> {
    fn into(self) -> QuerySelection {
        QuerySelection {
            query: self.query,
            relation_selections: self.relation_selections,
            relation_filters: self.relation_filters,
            child_enhancements: self.child_enhancements,
            query_options: self.query_options,
        }
    }
}

impl<R> Clone for {{ entity.rust_struct }}Request<R> {
    fn clone(&self) -> Self {
        Self {
            query: self.query.clone(),
            relation_selections: self.relation_selections.clone(),
            relation_filters: self.relation_filters.clone(),
            child_enhancements: self.child_enhancements.clone(),
            query_options: self.query_options.clone(),
            filter_id: self.filter_id.clone(),
            marker: PhantomData,
        }
    }
}

impl<R> {{ entity.rust_struct }}Request<R> {
    pub(crate) fn new() -> Self {
        Self {
            query: teaql_core::SelectQuery::new("{{ entity.name }}"),
            relation_selections: Vec::new(),
            relation_filters: Vec::new(),
            child_enhancements: Vec::new(),
            query_options: QueryOptions::default(),
            filter_id: None,
            marker: PhantomData,
        }
    }

    pub fn return_type<T>(self) -> {{ entity.rust_struct }}Request<T> {
        {{ entity.rust_struct }}Request {
            query: self.query,
            relation_selections: self.relation_selections,
            relation_filters: self.relation_filters,
            child_enhancements: self.child_enhancements,
            query_options: self.query_options,
            filter_id: self.filter_id,
            marker: PhantomData,
        }
    }

    pub fn query(&self) -> &teaql_core::SelectQuery { &self.query }
    pub fn relation_selections(&self) -> &[RelationSelection] { &self.relation_selections }
    pub fn relation_filters(&self) -> &[RelationFilter] { &self.relation_filters }
    pub fn child_enhancements(&self) -> &[QuerySelection] { &self.child_enhancements }
    pub fn query_options(&self) -> &QueryOptions { &self.query_options }
    pub fn into_query(self) -> teaql_core::SelectQuery { self.query }



    pub fn aggregate_count(mut self, alias: impl Into<String>) -> Self {
        self.query = self.query.count(alias);
        self
    }

    pub fn aggregate_count_field(mut self, field: impl Into<String>, alias: impl Into<String>) -> Self {
        self.query = self.query.count_field(field, alias);
        self
    }

    pub fn aggregate_sum(mut self, field: impl Into<String>, alias: impl Into<String>) -> Self {
        self.query = self.query.sum(field, alias);
        self
    }

    pub fn aggregate_avg(mut self, field: impl Into<String>, alias: impl Into<String>) -> Self {
        self.query = self.query.avg(field, alias);
        self
    }

    pub fn aggregate_min(mut self, field: impl Into<String>, alias: impl Into<String>) -> Self {
        self.query = self.query.min(field, alias);
        self
    }

    pub fn aggregate_max(mut self, field: impl Into<String>, alias: impl Into<String>) -> Self {
        self.query = self.query.max(field, alias);
        self
    }

    pub(crate) async fn _execute_for_list<'a, C>(
        self,
        ctx: &'a C,
    ) -> Result<teaql_core::SmartList<R>, request_support::TeaqlRepositoryError<C::{{ entity.rust_struct }}Repository<'a>>>
    where
        C: request_support::TeaqlRepositoryProvider + ?Sized,
        R: teaql_core::Entity,
    {
        let repository = ctx
            .{{ entity.rust_module }}_repository()
            .map_err(|err| teaql_runtime::RepositoryError::Runtime(teaql_runtime::RuntimeError::Graph(err.to_string())))?;
        let query_options = self.query_options.clone();
        let relation_aggregates = request_support::runtime_relation_aggregates(&query_options);
        let mut query = self.query;
        query.filter = query.filter.map_or(
            Some(teaql_core::Expr::gt(
                "version",
                teaql_core::Value::I64(0),
            )),
            |f| {
                Some(teaql_core::Expr::And(vec![
                    f,
                    teaql_core::Expr::gt(
                        "version",
                        teaql_core::Value::I64(0),
                    ),
                ]))
            },
        );
        let query = request_support::apply_runtime_metadata(query, &query_options, &self.child_enhancements);
        let mut rows = repository.fetch_enhanced_entities_with_relation_aggregates::<R>(
            &query,
            &relation_aggregates,
        ).await?;
        let facets = request_support::execute_facets(ctx, &query, &query_options).await
            .map_err(teaql_runtime::RepositoryError::Runtime)?;
        request_support::attach_facets(&mut rows, facets);
        Ok(rows)
    }

    pub(crate) async fn _execute_for_first<'a, C>(
        self,
        ctx: &'a C,
    ) -> Result<Option<R>, request_support::TeaqlRepositoryError<C::{{ entity.rust_struct }}Repository<'a>>>
    where
        C: request_support::TeaqlRepositoryProvider + ?Sized,
        R: teaql_core::Entity,
    {
        let rows = self.limit(1).execute_for_list(ctx).await?;
        Ok(rows.data.into_iter().next())
    }

    pub(crate) async fn _execute_for_one<'a, C>(
        self,
        ctx: &'a C,
    ) -> Result<Option<R>, request_support::TeaqlRepositoryError<C::{{ entity.rust_struct }}Repository<'a>>>
    where
        C: request_support::TeaqlRepositoryProvider + ?Sized,
        R: teaql_core::Entity,
    {
        self._execute_for_first(ctx).await
    }

    pub(crate) async fn _execute_by_id<'a, C>(
        self,
        ctx: &'a C,
        id: impl Into<teaql_core::Value>,
    ) -> Result<Option<R>, request_support::TeaqlRepositoryError<C::{{ entity.rust_struct }}Repository<'a>>>
    where
        C: request_support::TeaqlRepositoryProvider + ?Sized,
        R: teaql_core::Entity,
    {
        self.and_filter(teaql_core::Expr::eq("id", id)).execute_for_first(ctx).await
    }

    pub(crate) async fn _execute_for_records<'a, C>(
        self,
        ctx: &'a C,
    ) -> Result<teaql_core::SmartList<teaql_core::Record>, request_support::TeaqlRepositoryError<C::{{ entity.rust_struct }}Repository<'a>>>
    where
        C: request_support::TeaqlRepositoryProvider + ?Sized,
    {
        let repository = ctx
            .{{ entity.rust_module }}_repository()
            .map_err(|err| teaql_runtime::RepositoryError::Runtime(teaql_runtime::RuntimeError::Graph(err.to_string())))?;
        let query_options = self.query_options.clone();
        let outer_query = self.query.clone();
        let relation_aggregates = request_support::runtime_relation_aggregates(&query_options);
        let query = request_support::apply_runtime_metadata(self.query, &query_options, &self.child_enhancements);
        let mut rows = repository.fetch_smart_list_with_relation_aggregates(&query, &relation_aggregates).await?;
        let facets = request_support::execute_facets(ctx, &outer_query, &query_options).await
            .map_err(teaql_runtime::RepositoryError::Runtime)?;
        request_support::attach_facets(&mut rows, facets);
        Ok(rows)
    }

    pub(crate) async fn _execute_for_record<'a, C>(
        self,
        ctx: &'a C,
    ) -> Result<Option<teaql_core::Record>, request_support::TeaqlRepositoryError<C::{{ entity.rust_struct }}Repository<'a>>>
    where
        C: request_support::TeaqlRepositoryProvider + ?Sized,
    {
        let records = self.limit(1).execute_for_records(ctx).await?;
        Ok(records.data.into_iter().next())
    }

    pub(crate) async fn _execute_for_count<'a, C>(
        self,
        ctx: &'a C,
    ) -> Result<u64, request_support::TeaqlRepositoryError<C::{{ entity.rust_struct }}Repository<'a>>>
    where
        C: request_support::TeaqlRepositoryProvider + ?Sized,
    {
        let repository = ctx
            .{{ entity.rust_module }}_repository()
            .map_err(|err| teaql_runtime::RepositoryError::Runtime(teaql_runtime::RuntimeError::Graph(err.to_string())))?;
        let mut query = self.query.clone();
        query.projection.clear();
        query.expr_projection.clear();
        query.order_by.clear();
        query.slice = None;
        query.relations.clear();
        query = query.count("COUNT_ALIAS");
        let rows = repository.fetch_all(&query).await?;
        rows.into_iter().next().and_then(|row| row.get("COUNT_ALIAS").cloned()).and_then(|v| v.try_u64()).ok_or_else(|| teaql_runtime::RepositoryError::Runtime(teaql_runtime::RuntimeError::Graph("count result is missing or not numeric".to_string())))
    }

    pub fn filter(mut self, filter: Expr) -> Self {
        self.query = self.query.filter(filter);
        self
    }
    
    pub fn and_filter(mut self, filter: Expr) -> Self {
        self.query = self.query.and_filter(filter);
        self
    }
    
    pub fn or_filter(mut self, filter: Expr) -> Self {
        self.query = self.query.or_filter(filter);
        self
    }

    pub fn comment(mut self, comment: impl Into<String>) -> Self {
        self.query_options.comment = Some(comment.into());
        self.query.comment = self.query_options.comment.clone();
        self
    }

    pub fn purpose(self, purpose: impl Into<String>) -> crate::q::PurposedQuery<Self> {
        crate::q::PurposedQuery::new(self, purpose)
    }

    pub fn limit(mut self, limit: u64) -> Self {
        self.query = self.query.limit(limit);
        self
    }

    pub fn skip(mut self, offset: u64) -> Self {
        self.query = self.query.offset(offset);
        self
    }

    pub fn page_offset(mut self, offset: u64, limit: u64) -> Self {
        self.query = self.query.page(offset, limit);
        self
    }

    pub fn group_by(mut self, field: impl Into<String>) -> Self {
        self.query = self.query.group_by(field);
        self
    }

    pub fn select_self(self) -> Self {
        self
    }
    
    pub fn select_self_fields(self) -> Self {
        self
    }
    
    pub fn unlimited(self) -> Self {
        self
    }
    
    pub fn enhance_children_if_needed(self) -> Self {
        self
    }
    
    pub fn select_children(self) -> Self {
        self
    }

{%- for field in entity.fields %}
    pub fn select_{{ field.rust_name }}(mut self) -> Self {
        self.query = self.query.project("{{ field.name }}");
        self
    }
    
    pub fn group_by_{{ field.rust_name }}(self) -> Self { self.group_by("{{ field.name }}") }
    

    pub fn {{ entity.attribute_predicate_prefix }}_{{ field.rust_name }}(mut self, operator: FieldOperator, value: impl Into<teaql_core::Value>) -> Self {
        let val = value.into();
        let field_name = "{{ field.name }}";
        let expr = match operator {
            FieldOperator::Equal => Expr::eq(field_name, val.clone()),
            FieldOperator::NotEqual => Expr::ne(field_name, val.clone()),
            FieldOperator::GreaterThan => Expr::gt(field_name, val.clone()),
            FieldOperator::GreaterThanOrEqual => Expr::gte(field_name, val.clone()),
            FieldOperator::LessThan => Expr::lt(field_name, val.clone()),
            FieldOperator::LessThanOrEqual => Expr::lte(field_name, val.clone()),
            FieldOperator::Between => Expr::eq(field_name, val.clone()), // Approximation
            FieldOperator::In => Expr::in_list(field_name, vec![val.clone()]),
            FieldOperator::NotIn => Expr::not_in_list(field_name, vec![val.clone()]),
            FieldOperator::Contain => Expr::contain(field_name, if let teaql_core::Value::Text(s) = &val { s.clone() } else { "".to_string() }),
            FieldOperator::NotContain => Expr::not_contain(field_name, if let teaql_core::Value::Text(s) = &val { s.clone() } else { "".to_string() }),
            FieldOperator::BeginWith => Expr::begin_with(field_name, if let teaql_core::Value::Text(s) = &val { s.clone() } else { "".to_string() }),
            FieldOperator::NotBeginWith => Expr::not_begin_with(field_name, if let teaql_core::Value::Text(s) = &val { s.clone() } else { "".to_string() }),
            FieldOperator::EndWith => Expr::end_with(field_name, if let teaql_core::Value::Text(s) = &val { s.clone() } else { "".to_string() }),
            FieldOperator::NotEndWith => Expr::not_end_with(field_name, if let teaql_core::Value::Text(s) = &val { s.clone() } else { "".to_string() }),
            FieldOperator::SoundsLike => Expr::sound_like(field_name, val.clone()),
            FieldOperator::IsNull => Expr::is_null(field_name),
            FieldOperator::IsNotNull => Expr::is_not_null(field_name),
        };
        self.query = self.query.and_filter(expr);
        if field_name == "id" {
            if let FieldOperator::Equal = operator {
                if let teaql_core::Value::I64(v) = val {
                    self.filter_id = Some(v as u64);
                } else if let teaql_core::Value::U64(v) = val {
                    self.filter_id = Some(v);
                }
            }
        }
        self
    }
    
    pub fn {{ entity.attribute_predicate_prefix }}_{{ field.rust_name }}_between(mut self, min: impl Into<teaql_core::Value>, max: impl Into<teaql_core::Value>) -> Self {
        self.query = self.query.and_filter(Expr::between("{{ field.name }}", min.into(), max.into()));
        self
    }

    pub fn {{ entity.attribute_predicate_prefix }}_{{ field.rust_name }}_between_range<T: Into<teaql_core::Value> + Clone>(mut self, range: DateRange<T>) -> Self {
        self.query = self.query.and_filter(Expr::between("{{ field.name }}", range.start.clone().into(), range.end.clone().into()));
        self
    }

    pub fn {{ entity.attribute_predicate_prefix }}_{{ field.rust_name }}_is_unknown(mut self) -> Self {
        self.query = self.query.and_filter(Expr::is_null("{{ field.name }}"));
        self
    }

    pub fn {{ entity.attribute_predicate_prefix }}_{{ field.rust_name }}_is_known(mut self) -> Self {
        self.query = self.query.and_filter(Expr::is_not_null("{{ field.name }}"));
        self
    }
    
    pub fn {{ entity.attribute_predicate_prefix }}_{{ field.rust_name }}_sound{{ entity.attribute_predicate_suffix }}_like(mut self, value: impl Into<teaql_core::Value>) -> Self {
        self.query = self.query.and_filter(Expr::sound_like("{{ field.name }}", value.into()));
        self
    }

    pub fn {{ entity.attribute_predicate_prefix }}_{{ field.rust_name }}_is(mut self, value: impl Into<teaql_core::Value>) -> Self {
        let val = value.into();
        self.query = self.query.and_filter(Expr::eq("{{ field.name }}", val.clone()));
        if "{{ field.name }}" == "id" {
            if let teaql_core::Value::I64(v) = val {
                self.filter_id = Some(v as u64);
            } else if let teaql_core::Value::U64(v) = val {
                self.filter_id = Some(v);
            }
        }
        self
    }
    
    pub fn {{ entity.attribute_predicate_prefix }}_{{ field.rust_name }}_is_not(mut self, value: impl Into<teaql_core::Value>) -> Self {
        self.query = self.query.and_filter(Expr::ne("{{ field.name }}", value));
        self
    }

    pub fn {{ entity.attribute_predicate_prefix }}_{{ field.rust_name }}_greater_than(mut self, value: impl Into<teaql_core::Value>) -> Self {
        self.query = self.query.and_filter(Expr::gt("{{ field.name }}", value));
        self
    }

    pub fn {{ entity.attribute_predicate_prefix }}_{{ field.rust_name }}_greater_than_or_equal_to(mut self, value: impl Into<teaql_core::Value>) -> Self {
        self.query = self.query.and_filter(Expr::gte("{{ field.name }}", value));
        self
    }

    pub fn {{ entity.attribute_predicate_prefix }}_{{ field.rust_name }}_less_than(mut self, value: impl Into<teaql_core::Value>) -> Self {
        self.query = self.query.and_filter(Expr::lt("{{ field.name }}", value));
        self
    }

    pub fn {{ entity.attribute_predicate_prefix }}_{{ field.rust_name }}_less_than_or_equal_to(mut self, value: impl Into<teaql_core::Value>) -> Self {
        self.query = self.query.and_filter(Expr::lte("{{ field.name }}", value));
        self
    }
    
    pub fn {{ entity.attribute_predicate_prefix }}_{{ field.rust_name }}_in(mut self, values: impl IntoIterator<Item = impl Into<teaql_core::Value>>) -> Self {
        self.query = self.query.and_filter(Expr::in_list("{{ field.name }}", values.into_iter().map(Into::into)));
        self
    }

    pub fn {{ entity.attribute_predicate_prefix }}_{{ field.rust_name }}_not_in(mut self, values: impl IntoIterator<Item = impl Into<teaql_core::Value>>) -> Self {
        self.query = self.query.and_filter(Expr::not_in_list("{{ field.name }}", values.into_iter().map(Into::into)));
        self
    }

    pub fn order_by_{{ field.rust_name }}_asc(mut self) -> Self {
        self.query = self.query.order_asc("{{ field.name }}");
        self
    }

    pub fn order_by_{{ field.rust_name }}_desc(mut self) -> Self {
        self.query = self.query.order_desc("{{ field.name }}");
        self
    }

    {%- if field.rust_type == "String" or field.rust_type == "Option<String>" %}
    pub fn {{ entity.attribute_predicate_prefix }}_{{ field.rust_name }}_contain{{ entity.attribute_predicate_suffix }}(mut self, value: impl Into<String>) -> Self {
        self.query = self.query.and_filter(Expr::contain("{{ field.name }}", value.into()));
        self
    }

    pub fn {{ entity.attribute_predicate_prefix }}_{{ field.rust_name }}_not_contain{{ entity.attribute_predicate_suffix }}(mut self, value: impl Into<String>) -> Self {
        self.query = self.query.and_filter(Expr::not_contain("{{ field.name }}", value.into()));
        self
    }

    pub fn {{ entity.attribute_predicate_prefix }}_{{ field.rust_name }}_not_start{{ entity.attribute_predicate_suffix }}_with(mut self, value: impl Into<String>) -> Self {
        self.query = self.query.and_filter(Expr::not_begin_with("{{ field.name }}", value.into()));
        self
    }

    pub fn {{ entity.attribute_predicate_prefix }}_{{ field.rust_name }}_not_end{{ entity.attribute_predicate_suffix }}_with(mut self, value: impl Into<String>) -> Self {
        self.query = self.query.and_filter(Expr::not_end_with("{{ field.name }}", value.into()));
        self
    }
    
    pub fn {{ entity.attribute_predicate_prefix }}_{{ field.rust_name }}_before(mut self, value: impl Into<teaql_core::Value>) -> Self {
        self.query = self.query.and_filter(Expr::lt("{{ field.name }}", value.into()));
        self
    }
    
    pub fn {{ entity.attribute_predicate_prefix }}_{{ field.rust_name }}_after(mut self, value: impl Into<teaql_core::Value>) -> Self {
        self.query = self.query.and_filter(Expr::gt("{{ field.name }}", value.into()));
        self
    }

    pub fn {{ entity.attribute_predicate_prefix }}_{{ field.rust_name }}_start{{ entity.attribute_predicate_suffix }}_with(mut self, value: impl Into<String>) -> Self {
        self.query = self.query.and_filter(Expr::begin_with("{{ field.name }}", value.into()));
        self
    }

    pub fn {{ entity.attribute_predicate_prefix }}_{{ field.rust_name }}_end{{ entity.attribute_predicate_suffix }}_with(mut self, value: impl Into<String>) -> Self {
        self.query = self.query.and_filter(Expr::end_with("{{ field.name }}", value.into()));
        self
    }
    {%- endif %}

    {%- if field.rust_type == "bool" or field.rust_type == "Option<bool>" %}
    pub fn {{ entity.bool_predicate_prefix }}_{{ field.rust_name }}(mut self) -> Self {
        self.query = self.query.and_filter(Expr::eq("{{ field.name }}", true));
        self
    }
    
    pub fn {{ entity.bool_predicate_prefix }}_not_{{ field.rust_name }}(mut self) -> Self {
        self.query = self.query.and_filter(Expr::eq("{{ field.name }}", false));
        self
    }
    {%- endif %}
    pub fn count_{{ field.name }}(self) -> Self {
        self.count_{{ field.name }}_as("{{ field.name }}_count")
    }

    pub fn count_{{ field.name }}_as(self, alias: impl Into<String>) -> Self {
        self.aggregate_count_field("{{ field.name }}", alias)
    }

    pub fn sum_{{ field.name }}(self) -> Self {
        self.sum_{{ field.name }}_as("sum_{{ field.name }}")
    }

    pub fn sum_{{ field.name }}_as(self, alias: impl Into<String>) -> Self {
        self.aggregate_sum("{{ field.name }}", alias)
    }

    pub fn avg_{{ field.name }}(self) -> Self {
        self.avg_{{ field.name }}_as("avg_{{ field.name }}")
    }

    pub fn avg_{{ field.name }}_as(self, alias: impl Into<String>) -> Self {
        self.aggregate_avg("{{ field.name }}", alias)
    }

    pub fn min_{{ field.name }}(self) -> Self {
        self.min_{{ field.name }}_as("min_{{ field.name }}")
    }

    pub fn min_{{ field.name }}_as(self, alias: impl Into<String>) -> Self {
        self.aggregate_min("{{ field.name }}", alias)
    }

    pub fn max_{{ field.name }}(self) -> Self {
        self.max_{{ field.name }}_as("max_{{ field.name }}")
    }

    pub fn max_{{ field.name }}_as(self, alias: impl Into<String>) -> Self {
        self.aggregate_max("{{ field.name }}", alias)
    }
{%- endfor %}

{%- for relation in entity.relations %}
    pub fn have_{{ relation.rust_name }}(mut self) -> Self {
        self.query = self.query.and_filter(Expr::is_not_null("{{ relation.local_key }}"));
        self
    }

    pub fn have_no_{{ relation.rust_name }}(mut self) -> Self {
        self.query = self.query.and_filter(Expr::is_null("{{ relation.local_key }}"));
        self
    }

    pub fn with_{{ relation.name }}_matching(mut self, request: impl Into<request_support::QuerySelection>) -> Self {
        let selection = request.into();
        self.query = self.query.and_filter(Expr::in_subquery(
            "{{ relation.local_key }}",
            <crate::{{ relation.target_struct }} as teaql_core::TeaqlEntity>::entity_descriptor(),
            selection.query.clone(),
            "id",
        ));
        self.relation_filters.push(request_support::RelationFilter::new("{{ relation.rust_name }}", selection));
        self
    }

    pub fn without_{{ relation.name }}_matching(mut self, request: impl Into<request_support::QuerySelection>) -> Self {
        let selection = request.into();
        self.query = self.query.and_filter(Expr::not_in_subquery(
            "{{ relation.local_key }}",
            <crate::{{ relation.target_struct }} as teaql_core::TeaqlEntity>::entity_descriptor(),
            selection.query.clone(),
            "id",
        ));
        self.relation_filters.push(request_support::RelationFilter::new("{{ relation.rust_name }}", selection));
        self
    }

{%- set target_method = relation.target_method %}
{%- set plural_name = relation.rust_name %}
    pub fn count_{{ plural_name }}(self) -> Self {
        self.count_{{ plural_name }}_as("count_{{ plural_name }}")
    }

    pub fn count_{{ plural_name }}_as(self, alias: impl Into<String>) -> Self {
{%- if relation.many %}
        self.count_{{ plural_name }}_with(alias, crate::Q::{{ relation.target_module }}{%- if relation.target_module != "task_status" %}s{%- endif %}().unlimited())
{%- else %}
        self.aggregate_count_field("{{ relation.local_key }}", alias)
{%- endif %}
    }

{%- if relation.many %}
    pub fn count_{{ plural_name }}_with(mut self, alias: impl Into<String>, request: impl Into<QuerySelection>) -> Self {
        let selection = request.into();
        self.query_options.relation_aggregates.push(RelationAggregate::new(
            "{{ relation.name }}",
            alias,
            selection,
            true,
        ));
        self
    }
{%- endif %}
    pub fn facet_by_{{ relation.rust_name }}_as(self, facet_name: impl Into<String>, request: impl Into<QuerySelection>) -> Self {
        self.facet_by_{{ relation.rust_name }}_as_with_options(facet_name, request, true)
    }

    pub fn facet_by_{{ relation.rust_name }}_as_with_options(
        mut self,
        facet_name: impl Into<String>,
        request: impl Into<QuerySelection>,
        include_all_facets: bool,
    ) -> Self {
        self.query_options.facets.push(FacetRequest::new(
            facet_name,
            "{{ relation.name }}",
            request,
            include_all_facets,
        ));
        self
    }
{%- endfor %}

{%- for relation in entity.reverse_relations %}
    pub fn have_{{ relation.rust_name }}(self) -> Self {
        self.with_{{ relation.name }}_matching(crate::Q::{{ relation.target_module }}{%- if relation.target_module != "task_status" %}s{%- endif %}())
    }

    pub fn have_no_{{ relation.rust_name }}(self) -> Self {
        self.without_{{ relation.name }}_matching(crate::Q::{{ relation.target_module }}{%- if relation.target_module != "task_status" %}s{%- endif %}())
    }

    pub fn with_{{ relation.name }}_matching(mut self, request: impl Into<request_support::QuerySelection>) -> Self {
        let selection = request.into();
        self.query = self.query.and_filter(Expr::in_subquery(
            "id",
            <crate::{{ relation.target_struct }} as teaql_core::TeaqlEntity>::entity_descriptor(),
            selection.query.clone(),
            "{{ relation.foreign_key }}",
        ));
        self.relation_filters.push(request_support::RelationFilter::new("{{ relation.rust_name }}", selection));
        self
    }

    pub fn without_{{ relation.name }}_matching(mut self, request: impl Into<request_support::QuerySelection>) -> Self {
        let selection = request.into();
        self.query = self.query.and_filter(Expr::not_in_subquery(
            "id",
            <crate::{{ relation.target_struct }} as teaql_core::TeaqlEntity>::entity_descriptor(),
            selection.query.clone(),
            "{{ relation.foreign_key }}",
        ));
        self.relation_filters.push(request_support::RelationFilter::new("{{ relation.rust_name }}", selection));
        self
    }
{%- set plural_name = relation.rust_name %}
    pub fn count_{{ plural_name }}(self) -> Self {
        self.count_{{ plural_name }}_as("count_{{ plural_name }}")
    }

    pub fn count_{{ plural_name }}_as(self, alias: impl Into<String>) -> Self {
{%- if relation.many %}
        self.count_{{ plural_name }}_with(alias, crate::Q::{{ relation.target_module }}{%- if relation.target_module != "task_status" %}s{%- endif %}().unlimited())
{%- else %}
        self.aggregate_count_field("{{ relation.local_key }}", alias)
{%- endif %}
    }

{%- if relation.many %}
    pub fn count_{{ plural_name }}_with(mut self, alias: impl Into<String>, request: impl Into<QuerySelection>) -> Self {
        let selection = request.into();
        self.query_options.relation_aggregates.push(RelationAggregate::new(
            "{{ relation.name }}",
            alias,
            selection,
            true,
        ));
        self
    }
{%- endif %}

{%- endfor %}

    pub fn filter_by_json(self, json_expr: impl Into<String>) -> Self {
        self.merge_dynamic_json_expr(json_expr.into())
    }

    fn merge_dynamic_json_expr(self, json_expr: String) -> Self {
        let json = serde_json::from_str::<JsonValue>(&json_expr)
            .unwrap_or_else(|_| panic!("Input JSON format error: {json_expr}"));
        self.merge_dynamic_json(&json)
    }

    fn merge_dynamic_json(mut self, json: &JsonValue) -> Self {
        let Some(object) = json.as_object() else {
            return self;
        };

        for (field, value) in object {
            if field.starts_with('_') {
                continue;
            }
            self = self.apply_dynamic_json_filter(field, value);
        }

        self = self.apply_dynamic_json_order_by(object.get("_orderBy"));

        if let Some(offset) = request_support::dynamic_json_u64_field(object, "_start") {
            self = self.skip(offset);
        }
        if let Some(size) = request_support::dynamic_json_u64_field(object, "_size") {
            self = self.limit(size);
        }

        if let Some(page_size) = request_support::dynamic_json_u64_field(object, "_pageSize") {
            self = self.limit(page_size);
        }
        if let Some(page_number) = request_support::dynamic_json_u64_field(object, "_page") {
            if page_number > 0 {
                let size = request_support::dynamic_json_u64_field(object, "_pageSize")
                    .or_else(|| self.query.slice.as_ref().and_then(|slice| slice.limit))
                    .unwrap_or(10);
                let offset = page_number.saturating_sub(1).saturating_mul(size);
                self = self.page_offset(offset, size);
            }
        }

        self
    }

    pub(crate) fn apply_dynamic_json_filter(self, field: &str, value: &JsonValue) -> Self {
        if let Some((head, tail)) = field.split_once('.') {
            self.apply_dynamic_json_chain_filter(head, tail, value)
        } else if let Some(storage_field) = Self::dynamic_json_self_field(field) {
            self.and_filter(request_support::dynamic_json_filter_expr(storage_field, value))
        } else {
            self
        }
    }

    fn apply_dynamic_json_order_by(mut self, order_by: Option<&JsonValue>) -> Self {
        match order_by {
            Some(JsonValue::String(field)) => {
                if let Some(storage_field) = Self::dynamic_json_self_field(field) {
                    self.query = self.query.order_desc(storage_field);
                }
            }
            Some(JsonValue::Object(order_by)) => {
                self = self.apply_dynamic_json_single_order_by(order_by);
            }
            Some(JsonValue::Array(order_bys)) => {
                for order_by in order_bys {
                    if let Some(order_by) = order_by.as_object() {
                        self = self.apply_dynamic_json_single_order_by(order_by);
                    }
                }
            }
            _ => {}
        }
        self
    }

    fn apply_dynamic_json_single_order_by(
        mut self,
        order_by: &serde_json::Map<String, JsonValue>,
    ) -> Self {
        let Some(field) = order_by.get("field").and_then(JsonValue::as_str) else {
            return self;
        };
        let Some(storage_field) = Self::dynamic_json_self_field(field) else {
            return self;
        };
        if order_by
            .get("useAsc")
            .and_then(JsonValue::as_bool)
            .unwrap_or(false)
        {
            self.query = self.query.order_asc(storage_field);
        } else {
            self.query = self.query.order_desc(storage_field);
        }
        self
    }

    fn dynamic_json_self_field(field: &str) -> Option<&'static str> {
        match field {
{%- for field in entity.fields %}
{%- if field.rust_name != field.name %}
            "{{ field.rust_name }}" | "{{ field.name }}" => Some("{{ field.name }}"),
{%- else %}
            "{{ field.name }}" => Some("{{ field.name }}"),
{%- endif %}
{%- endfor %}
{%- for relation in entity.relations %}
{%- if not relation.many %}
{%- if relation.rust_name != relation.name %}
            "{{ relation.rust_name }}" | "{{ relation.name }}" => Some("{{ relation.local_key }}"),
{%- else %}
            "{{ relation.name }}" => Some("{{ relation.local_key }}"),
{%- endif %}
{%- endif %}
{%- endfor %}
            _ => None,
        }
    }

    fn apply_dynamic_json_chain_filter(self, head: &str, tail: &str, value: &JsonValue) -> Self {
        let _ = (tail, value);
        match head {
{%- for relation in entity.relations %}
{%- if not relation.many %}
            "{{ relation.rust_name }}" | "{{ relation.name }}" => {
                self.with_{{ relation.name }}_matching(
                    crate::Q::{{ relation.target_module }}{%- if relation.target_module != "task_status" %}s{%- endif %}()
                        .apply_dynamic_json_filter(tail, value),
                )
            }
{%- endif %}
{%- endfor %}
{%- for relation in entity.reverse_relations %}
            "{{ relation.rust_name }}" | "{{ relation.name }}" => {
                self.with_{{ relation.name }}_matching(
                    crate::Q::{{ relation.target_module }}{%- if relation.target_module != "task_status" %}s{%- endif %}()
                        .apply_dynamic_json_filter(tail, value),
                )
            }
{%- endfor %}
            _ => self,
        }
    }
}

{%- endfor %}

{%- for entity in entities %}
impl<R: teaql_core::Entity> crate::q::PurposedQuery<{{ entity.rust_struct }}Request<R>> {
    pub async fn execute_for_list<C>(self, ctx: &C) -> Result<teaql_core::SmartList<R>, request_support::TeaqlRepositoryError<C::{{ entity.rust_struct }}Repository<'_>>>
    where
        C: request_support::TeaqlRepositoryProvider + ?Sized,
    {
        self.inner._execute_for_list(ctx).await
    }
    
    pub async fn execute_for_first<C>(self, ctx: &C) -> Result<Option<R>, request_support::TeaqlRepositoryError<C::{{ entity.rust_struct }}Repository<'_>>>
    where
        C: request_support::TeaqlRepositoryProvider + ?Sized,
    {
        self.inner._execute_for_first(ctx).await
    }
    
    pub async fn execute_for_one<C>(self, ctx: &C) -> Result<Option<R>, request_support::TeaqlRepositoryError<C::{{ entity.rust_struct }}Repository<'_>>>
    where
        C: request_support::TeaqlRepositoryProvider + ?Sized,
    {
        self.inner._execute_for_one(ctx).await
    }
    
    pub async fn execute_by_id<C>(self, ctx: &C, id: impl Into<teaql_core::Value>) -> Result<Option<R>, request_support::TeaqlRepositoryError<C::{{ entity.rust_struct }}Repository<'_>>>
    where
        C: request_support::TeaqlRepositoryProvider + ?Sized,
    {
        self.inner._execute_by_id(ctx, id).await
    }
    
    pub async fn execute_for_records<C>(self, ctx: &C) -> Result<teaql_core::SmartList<teaql_core::Record>, request_support::TeaqlRepositoryError<C::{{ entity.rust_struct }}Repository<'_>>>
    where
        C: request_support::TeaqlRepositoryProvider + ?Sized,
    {
        self.inner._execute_for_records(ctx).await
    }
    
    pub async fn execute_for_record<C>(self, ctx: &C) -> Result<Option<teaql_core::Record>, request_support::TeaqlRepositoryError<C::{{ entity.rust_struct }}Repository<'_>>>
    where
        C: request_support::TeaqlRepositoryProvider + ?Sized,
    {
        self.inner._execute_for_record(ctx).await
    }
    
    pub async fn execute_for_count<C>(self, ctx: &C) -> Result<u64, request_support::TeaqlRepositoryError<C::{{ entity.rust_struct }}Repository<'_>>>
    where
        C: request_support::TeaqlRepositoryProvider + ?Sized,
    {
        self.inner._execute_for_count(ctx).await
    }
}
impl<R: teaql_core::Entity> teaql_core::PurposedQuery<{{ entity.rust_struct }}Request<R>> {
    pub fn new_entity(&self, _ctx: &teaql_runtime::UserContext) -> crate::{{ entity.rust_struct }} {
        crate::{{ entity.rust_struct }}::new()
    }
}
{%- endfor %}
