use teaql_core::Expr;

use crate::*;

pub struct PurposedQuery<T> {
    pub inner: T,
    pub purpose: String,
}

impl<T> PurposedQuery<T> {
    pub fn new(inner: T, purpose: impl Into<String>) -> Self {
        Self { inner, purpose: purpose.into() }
    }
}

pub struct Q;

impl Q {
{% for objectDescriptor in domain.entities %}
    pub fn {{ objectDescriptor.rust_plural_name }}() -> {{ objectDescriptor.rust_struct_name }}Request {
        {{ objectDescriptor.rust_struct_name }}Request::new()
            .select_self()
            .and_filter(Expr::gt("version", 0_i64))
    }

    pub fn {{ objectDescriptor.rust_plural_name }}_minimal() -> {{ objectDescriptor.rust_struct_name }}Request {
        {{ objectDescriptor.rust_struct_name }}Request::new()
            .and_filter(Expr::gt("version", 0_i64))
    }

    pub fn {{ objectDescriptor.rust_plural_name }}_with_children() -> {{ objectDescriptor.rust_struct_name }}Request {
        {{ objectDescriptor.rust_struct_name }}Request::new()
            .unlimited()
            .select_self_fields()
            .enhance_children_if_needed()
    }
{% if not loop.last %}

{% endif %}
{% endfor %}
}
