{% macro odNode(entity) %}
{
  "count": 2,
  "depth": {{ entity.depth }},
  "meta": [
{% for field in entity.rustScalarFields %}{{ fieldNode(field) }}{% if not loop.last %},{% endif %}{% endfor %}
  ],
{% if entity.constant %}
  "presetData": [
{% for constantItem in entity.candidates %}{{ constantItemDesc(constantItem) }}{% if not loop.last %},{% endif %}{% endfor %}
  ],
{% endif %}

  "name": "{{ entity.rust_module_name }}",
  "id": "{{ entity.rust_module_name }}",
  "_class":"{{ entity.rust_struct_name }}",
  "_domain_class":"{{ entity.rust_struct_name }}"
}
{% endmacro %}

{% macro constantItemDesc(constantItem) %}
{
  "code": "{{ constantItem.id }}",
  "name": "{{ constantItem.rustCandidateMethodValue }}"
}
{% endmacro %}

{% macro fieldNode(field) %}
{
  "type": "{{ field.rustType }}",
  "required": "{{ field.required }}",
  "name": "{{ field.column_name }}",
  "localeName": "{{ field.column_name }}"
}
{% endmacro %}

{% macro linkNode(entity, relation) %}
{
  "source": "{{ entity.rust_module_name }}",
  "type": "{{ relation.target_module }}",
  "target": "{{ relation.target_module }}",
  "value": 1,
  "refBy": "{{ relation.rustMemberName }}"
}
{% endmacro %}

<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>{{ domain.name }}</title>
    <style>
        .panel-wrap { position: fixed; top: 0; bottom: 0; right: 0; width: 25%; transform: translateX(0%); transition: .3s ease-out; z-index:1000; font-size: 12px; }
        .panel { position: absolute; top: 0; bottom: 0; left: 0; right: 0; background: #333; color: #eee; overflow: auto; padding: 1em; }
        [type="checkbox"]:checked ~ .panel-wrap { transform: translateX(0%); }
        *,*:before, *:after {box-sizing: border-box;}
        body { font-family: sans-serif; font-size: 18px; margin: 0px; }
        h3 { margin: 0; }
        p { line-height: 1.4; margin: 2em 0 0 0; }
        [type="checkbox"] { font-size: 1em; }
    </style>
</head>
<body>

<div class="panel-wrap" >
    <div class="panel" id="panel">
        <h3>Schema</h3>
    </div>
</div>
<div id="panel"  style="height: 20px"> Width：
    <button onclick="setWidth('800')">800px</button>
    <button onclick="setWidth('1200px')">1200px</button>
    <button onclick="setWidth('1600px')">1600px</button>
    <button onclick="setWidth('2400px')">2400px</button>
    <button onclick="setWidth('3600px')">3600px</button>
    {{ domain.name }}
</div>
<div id="left" style="position: absolute;top: 20px;bottom: 0px;width:75%;overflow:auto">
    <div id="main" style="height: 800px;width:1000px"></div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.6.0/echarts.min.js"></script>
<script type="text/javascript">
    function showPresetData({id,name, meta,presetData}){
      if(!presetData) return "";
      var content="<table style='width:100%'><tr><td colspan='2'>Constant Table<hr/></td></tr>";
      presetData.forEach(item=>{ content+="<tr><td>"+item.code+"</td><td>"+item.name+"</td></tr>" })
      content+="<tr><td colspan='2'><hr/></td></tr></table>";
      return content;
    }
    function showMeta({id,name, meta,presetData,depth}){
      var content="<table style='width:100%'><tr><td colspan='3'>"+id+"("+depth+")"+"<hr/></td></tr>";
      meta.forEach(item=>{
        var required=item.name
        if(item.required==='true'){ required="<span style='color:red'>"+item.name+"</span>" }
        content+="<tr><td >"+required+"</td><td>"+item.localeName+"</td><td>"+item.type+"</td></tr>"
      })
      content+="<tr><td colspan='3'><hr/></td></tr></table>";
      return content+showPresetData({id,name, meta,presetData});
    }

    var data = {
        "nodes": [{% for entity in domain.entities %}{{ odNode(entity) }}{% if not loop.last %},{% endif %}{% endfor %}],
        "links": [
{% set ns = namespace(first=true) %}
{% for entity in domain.entities %}
  {% for relation in entity.rustObjectFields %}
    {% if not ns.first %},{% endif %}{{ linkNode(entity, relation) }}{% set ns.first = false %}
  {% endfor %}
{% endfor %}
        ]
    }
    var modelChart = echarts.init(document.getElementById('main'));

    var option = {
      label:{ show:true, formatter:function(obj){ if(obj.data.presetData){ return obj.data.id+"("+obj.data.presetData.length+")" } return obj.data.name } },
      title: { text: '', left: 'center' },
      tooltip: {
          trigger: 'item',
          triggerOn: 'mouseclick',
          formatter:function({id,name, data, dataType}){
              if(dataType==='edge') {
                  var parts = name.split(" > ");
                  if(parts.length > 1) {
                      var src = parts[0]; var target = parts[1];
                      return src+" &lt; <span style='color:red'>"+data.refBy+"</span> &gt; "+target;
                  }
                  return name;
              }
              if(dataType==='node') { }
          },
      },
      series: [
          {
              type: 'sankey',
              left: 50.0, top: 20.0, right: 150.0, bottom: 25.0,
              data: data.nodes,
              links: data.links,
              emphasis: { focus: 'adjacency' },
              lineStyle: { color: 'gradient', curveness: 0.5 }
          }
      ]
    }

    modelChart.setOption(option);
    modelChart.on('click', function (componentData) {
      if(!componentData || !componentData.dataType) return;
      var {name, data, dataType}=componentData
      var parent = document.getElementById("panel");
      var theFirstChild = parent.firstChild;
      if(componentData.dataType==='edge'){
        var parts = name.split(" > ");
        if(parts.length > 1) {
            var src = parts[0]; var target = parts[1];
            var p = document.createElement("p");
            p.innerHTML="<div>"+src+".<span style='color:red'>"+data.refBy+"</span> is a/an "+target;+"</div>"
            parent.insertBefore(p, theFirstChild);
        }
        return
      }
      if(componentData.dataType==='node'){
        var p = document.createElement("p");
        p.innerHTML=showMeta({id:data.id,name:data.label, meta:data.meta,presetData:data.presetData,depth:data.depth})
        if(theFirstChild) parent.insertBefore(p, theFirstChild);
        return
      }
    });

    function myFunction(event) {
      if(parseInt(this.style.width)<800) return;
      var move=event.deltaY/8
      document.title=(parseInt(this.style.width)+move*1.4) +"px";
      this.style.width = (parseInt(this.style.width)+move*1.4) +"px";
      this.style.height = (parseInt(this.style.height)+move)+"px";
      modelChart.resize();
    }

    function setWidth(widthExpr){
      var target = document.getElementById("main");
      var width=parseInt(widthExpr);
      target.style.width=width+"px";
      target.style.height=width*0.7+"px";
      modelChart.resize();
    }
</script>
</body>
</html>
