use serde::{Deserialize, Serialize};
use std::future::Future;
use std::pin::Pin;

#[derive(Debug, Clone, Serialize, Deserialize)]
pub struct {{ entity.rust_struct }} {
{%- for field in entity.fields %}
    pub {{ field.rust_name }}: {{ field.rust_type }},
{%- endfor %}
{%- for rel in entity.relations %}
    pub {{ rel.rust_name }}_id: Option<u64>,
{%- endfor %}
{%- if entity.name == "task" %}
    pub task_execution_log_list: Vec<crate::entities::task_execution_log::TaskExecutionLog>,
{%- endif %}
    pub version: i64,
    pub comment: String,
    pub deleted: bool,
}

impl {{ entity.rust_struct }} {
    pub fn new() -> Self {
        Self {
        {%- for field in entity.fields %}
            {%- if field.rust_type == "String" %}
            {{ field.rust_name }}: String::new(),
            {%- elif field.rust_type == "bool" %}
            {{ field.rust_name }}: false,
            {%- elif field.rust_type == "i32" or field.rust_type == "i64" or field.rust_type == "u64" or field.rust_type == "f64" %}
            {{ field.rust_name }}: 0,
            {%- elif field.rust_type is startingwith("Option") %}
            {{ field.rust_name }}: None,
            {%- else %}
            {{ field.rust_name }}: Default::default(),
            {%- endif %}
        {%- endfor %}
        {%- for rel in entity.relations %}
            {{ rel.rust_name }}_id: None,
        {%- endfor %}
        {%- if entity.name == "task" %}
            task_execution_log_list: vec![],
        {%- endif %}
            version: 0,
            comment: String::new(),
            deleted: false,
        }
    }
    
    pub fn id(&self) -> u64 {
        self.id
    }

    pub fn update_id(&mut self, id: impl Into<u64>) -> &mut Self {
        self.id = id.into();
        self
    }

    pub fn version(&self) -> i64 {
        self.version
    }

    pub fn update_version(&mut self, version: i64) -> &mut Self {
        self.version = version;
        self
    }

    pub fn set_comment(&mut self, comment: &str) {
        self.comment = comment.to_string();
    }

    pub fn mark_as_delete(&mut self) {
        self.deleted = true;
    }

{%- if entity.name == "task" %}
    pub fn task_execution_log_list_mut(&mut self) -> &mut Vec<crate::entities::task_execution_log::TaskExecutionLog> {
        &mut self.task_execution_log_list
    }
{%- endif %}

{%- for field in entity.fields %}
{%- if field.rust_name != "id" %}
    {%- if field.rust_type is startingwith("Option<") %}
    pub fn {{ field.rust_name }}(&self) -> {{ field.rust_type[7:-1] }} {
        self.{{ field.rust_name }}.clone().unwrap_or_default()
    }
    pub fn update_{{ field.rust_name }}(&mut self, value: impl Into<{{ field.rust_type[7:-1] }}>) -> &mut Self {
        self.{{ field.rust_name }} = Some(value.into());
        self
    }
    {%- else %}
    pub fn {{ field.rust_name }}(&self) -> {{ field.rust_type }} {
        self.{{ field.rust_name }}.clone()
    }
    pub fn update_{{ field.rust_name }}(&mut self, value: impl Into<{{ field.rust_type }}>) -> &mut Self {
        self.{{ field.rust_name }} = value.into();
        self
    }
    {%- endif %}
{%- endif %}
{%- endfor %}

{%- for rel in entity.relations %}
    pub fn {{ rel.rust_name }}_id(&self) -> u64 {
        self.{{ rel.rust_name }}_id.unwrap_or_default()
    }

    pub fn update_{{ rel.rust_name }}_id(&mut self, value: impl Into<u64>) -> &mut Self {
        self.{{ rel.rust_name }}_id = Some(value.into());
        self
    }
{%- endfor %}

{%- if entity.name == "task" %}
    pub fn update_status_to_planned(&mut self) -> &mut Self {
        self.status_id = Some(1001);
        self
    }
    pub fn update_status_to_ready(&mut self) -> &mut Self {
        self.status_id = Some(1002);
        self
    }
    pub fn update_status_to_executing(&mut self) -> &mut Self {
        self.status_id = Some(1003);
        self
    }
    pub fn update_status_to_verified(&mut self) -> &mut Self {
        self.status_id = Some(1004);
        self
    }
    pub fn generate_execution_log<C>(&self, action: &str, detail: &str, _ctx: &C) -> crate::entities::task_execution_log::TaskExecutionLog {
        let mut log = crate::entities::task_execution_log::TaskExecutionLog::new();
        log.update_action(action.to_string())
           .update_detail(detail.to_string())
           .update_task_id(self.id);
        log
    }
    pub fn transition_status(&mut self, _cmd: &impl std::any::Any) -> Result<(), String> {
        Ok(())
    }
{%- endif %}

    pub fn save<'a, C>(&'a self, ctx: &'a C) -> Pin<Box<dyn Future<Output = Result<Self, std::io::Error>> + 'a>> {
        let self_clone = self.clone();
        Box::pin(async move {
            Ok(self_clone)
        })
    }
}

impl teaql_core::TeaqlEntity for {{ entity.rust_struct }} {
    fn entity_descriptor() -> teaql_core::EntityDescriptor {
        teaql_core::EntityDescriptor { 
            name: "{{ entity.name }}".to_string(),
            table_name: "{{ entity.name }}".to_string(),
            properties: vec![],
            relations: vec![],
        }
    }
}

impl teaql_core::Entity for {{ entity.rust_struct }} {
    fn from_record(_: std::collections::BTreeMap<String, teaql_core::Value>) -> Result<Self, teaql_core::EntityError> {
        Ok(Self::new())
    }

    fn into_record(self) -> std::collections::BTreeMap<String, teaql_core::Value> {
        std::collections::BTreeMap::new()
    }
}

