use serde::{Deserialize, Serialize};
use std::future::Future;
use std::pin::Pin;

{%- if entity.xml_path %}
// @source {{ entity.xml_path }}:{{ entity.line_number }}
{%- endif %}
#[derive(Debug, Clone, Serialize, Deserialize)]
pub struct {{ entity.rust_struct }} {
{%- for field in entity.fields %}
{%- if field.xml_path %}
// @source {{ field.xml_path }}:{{ field.line_number }}
{%- endif %}
    pub {{ field.rust_name }}: {{ field.rust_type }},
{%- endfor %}
{%- for rel in entity.relations %}
{%- if rel.xml_path %}
// @source {{ rel.xml_path }}:{{ rel.line_number }}
{%- endif %}
{%- if rel.many %}
    pub {{ rel.rust_name }}: Vec<crate::entities::{{ rel.target_module }}::{{ rel.target_struct }}>,
{%- else %}
    pub {{ rel.rust_name }}: Option<Box<crate::entities::{{ rel.target_module }}::{{ rel.target_struct }}>>,
    pub {{ rel.rust_name }}_id: Option<u64>,
{%- endif %}
{%- endfor %}
{%- for rel in entity.reverse_relations %}
{%- if rel.xml_path %}
// @source {{ rel.xml_path }}:{{ rel.line_number }}
{%- endif %}
{%- if rel.many %}
    pub {{ rel.rust_name }}: Vec<crate::entities::{{ rel.target_module }}::{{ rel.target_struct }}>,
{%- else %}
    pub {{ rel.rust_name }}: Option<Box<crate::entities::{{ rel.target_module }}::{{ rel.target_struct }}>>,
{%- endif %}
{%- endfor %}
    pub version: i64,
    pub comment: String,
    pub deleted: bool,
    #[serde(skip)]
    pub __load_state: teaql_core::eval::LoadState,
}

impl {{ entity.rust_struct }} {
    pub fn new() -> Self {
        Self {
        {%- for field in entity.fields %}
            {%- if field.rust_type == "String" %}
            {{ field.rust_name }}: String::new(),
            {%- elif field.rust_type == "bool" %}
            {{ field.rust_name }}: false,
            {%- elif field.rust_type == "i32" or field.rust_type == "i64" or field.rust_type == "u64" or field.rust_type == "f64" %}
            {{ field.rust_name }}: 0,
            {%- elif field.rust_type is startingwith("Option") %}
            {{ field.rust_name }}: None,
            {%- else %}
            {{ field.rust_name }}: Default::default(),
            {%- endif %}
        {%- endfor %}
        {%- for rel in entity.relations %}
            {%- if rel.many %}
            {{ rel.rust_name }}: Vec::new(),
            {%- else %}
            {{ rel.rust_name }}: None,
            {{ rel.rust_name }}_id: None,
            {%- endif %}
        {%- endfor %}
        {%- for rel in entity.reverse_relations %}
            {%- if rel.many %}
            {{ rel.rust_name }}: Vec::new(),
            {%- else %}
            {{ rel.rust_name }}: None,
            {%- endif %}
        {%- endfor %}
            version: 0,
            comment: String::new(),
            deleted: false,
            __load_state: teaql_core::eval::LoadState::FullyLoaded,
        }
    }
    
    pub fn id(&self) -> u64 {
        self.id
    }

    pub fn update_id(&mut self, id: impl Into<u64>) -> &mut Self {
        self.id = id.into();
        self
    }

    pub fn version(&self) -> i64 {
        self.version
    }

    pub fn update_version(&mut self, version: i64) -> &mut Self {
        self.version = version;
        self
    }

    pub fn set_comment(&mut self, comment: &str) {
        self.comment = comment.to_string();
    }

    pub fn mark_as_delete(&mut self) {
        self.deleted = true;
    }

    pub fn is_loaded(&self, field_or_relation: &str) -> bool {
        self.__load_state.is_loaded(field_or_relation)
    }

    pub fn set_load_state(&mut self, state: teaql_core::eval::LoadState) {
        self.__load_state = state;
    }

{%- for rel in entity.reverse_relations %}
{%- if rel.many %}
    pub fn {{ rel.rust_name }}_mut(&mut self) -> &mut Vec<crate::entities::{{ rel.target_module }}::{{ rel.target_struct }}> {
        &mut self.{{ rel.rust_name }}
    }
{%- endif %}
{%- endfor %}

{%- for field in entity.fields %}
{%- if field.rust_name != "id" %}
    {%- if field.rust_type is startingwith("Option<") %}
    pub fn {{ field.rust_name }}(&self) -> {{ field.rust_type[7:-1] }} {
        self.{{ field.rust_name }}.clone().unwrap_or_default()
    }
    pub fn update_{{ field.rust_name }}(&mut self, value: impl Into<{{ field.rust_type[7:-1] }}>) -> &mut Self {
        self.{{ field.rust_name }} = Some(value.into());
        self
    }
    pub fn eval_{{ field.rust_name }}(&self) -> teaql_core::eval::EvalResult<{{ field.rust_type[7:-1] }}> {
        if !self.__load_state.is_loaded("{{ field.name }}") {
            teaql_core::eval::EvalResult::NotLoaded { failed_node: "{{ field.name }}".to_string(), attempted_path: "{{ field.name }}".to_string() }
        } else {
            match &self.{{ field.rust_name }} {
                Some(v) => teaql_core::eval::EvalResult::Value(v.clone()),
                None => teaql_core::eval::EvalResult::Null,
            }
        }
    }
    {%- else %}
    pub fn {{ field.rust_name }}(&self) -> {{ field.rust_type }} {
        self.{{ field.rust_name }}.clone()
    }
    pub fn update_{{ field.rust_name }}(&mut self, value: impl Into<{{ field.rust_type }}>) -> &mut Self {
        self.{{ field.rust_name }} = value.into();
        self
    }
    pub fn eval_{{ field.rust_name }}(&self) -> teaql_core::eval::EvalResult<{{ field.rust_type }}> {
        if !self.__load_state.is_loaded("{{ field.name }}") {
            teaql_core::eval::EvalResult::NotLoaded { failed_node: "{{ field.name }}".to_string(), attempted_path: "{{ field.name }}".to_string() }
        } else {
            teaql_core::eval::EvalResult::Value(self.{{ field.rust_name }}.clone())
        }
    }
    {%- endif %}
{%- endif %}
{%- endfor %}

{%- for rel in entity.relations %}
{%- if not rel.many %}
    pub fn {{ rel.rust_name }}_id(&self) -> u64 {
        self.{{ rel.rust_name }}_id.unwrap_or_default()
    }

    pub fn update_{{ rel.rust_name }}_id(&mut self, value: impl Into<u64>) -> &mut Self {
        self.{{ rel.rust_name }}_id = Some(value.into());
        self
    }

    pub fn eval_{{ rel.rust_name }}(&self) -> teaql_core::eval::EvalResult<&crate::entities::{{ rel.target_module }}::{{ rel.target_struct }}> {
        if !self.__load_state.is_loaded("{{ rel.name }}") {
            teaql_core::eval::EvalResult::NotLoaded { failed_node: "{{ rel.name }}".to_string(), attempted_path: "{{ rel.name }}".to_string() }
        } else {
            match &self.{{ rel.rust_name }} {
                Some(v) => teaql_core::eval::EvalResult::Value(v.as_ref()),
                None => teaql_core::eval::EvalResult::Null,
            }
        }
    }
{%- else %}
    pub fn eval_{{ rel.rust_name }}(&self) -> teaql_core::eval::EvalResult<&[crate::entities::{{ rel.target_module }}::{{ rel.target_struct }}]> {
        if !self.__load_state.is_loaded("{{ rel.name }}") {
            teaql_core::eval::EvalResult::NotLoaded { failed_node: "{{ rel.name }}".to_string(), attempted_path: "{{ rel.name }}".to_string() }
        } else {
            teaql_core::eval::EvalResult::Value(&self.{{ rel.rust_name }})
        }
    }
{%- endif %}
{%- endfor %}

{%- for rel in entity.reverse_relations %}
{%- if rel.many %}
    pub fn eval_{{ rel.rust_name }}(&self) -> teaql_core::eval::EvalResult<&[crate::entities::{{ rel.target_module }}::{{ rel.target_struct }}]> {
        if !self.__load_state.is_loaded("{{ rel.name }}") {
            teaql_core::eval::EvalResult::NotLoaded { failed_node: "{{ rel.name }}".to_string(), attempted_path: "{{ rel.name }}".to_string() }
        } else {
            teaql_core::eval::EvalResult::Value(&self.{{ rel.rust_name }})
        }
    }
{%- else %}
    pub fn eval_{{ rel.rust_name }}(&self) -> teaql_core::eval::EvalResult<&crate::entities::{{ rel.target_module }}::{{ rel.target_struct }}> {
        if !self.__load_state.is_loaded("{{ rel.name }}") {
            teaql_core::eval::EvalResult::NotLoaded { failed_node: "{{ rel.name }}".to_string(), attempted_path: "{{ rel.name }}".to_string() }
        } else {
            match &self.{{ rel.rust_name }} {
                Some(v) => teaql_core::eval::EvalResult::Value(v.as_ref()),
                None => teaql_core::eval::EvalResult::Null,
            }
        }
    }
{%- endif %}
{%- endfor %}

{%- if entity.name == "task" %}
    pub fn update_status_to_planned(&mut self) -> &mut Self {
        self.status_id = Some(1001);
        self
    }
    pub fn update_status_to_ready(&mut self) -> &mut Self {
        self.status_id = Some(1002);
        self
    }
    pub fn update_status_to_executing(&mut self) -> &mut Self {
        self.status_id = Some(1003);
        self
    }
    pub fn update_status_to_verified(&mut self) -> &mut Self {
        self.status_id = Some(1004);
        self
    }
    pub fn generate_execution_log<C>(&self, action: &str, detail: &str, _ctx: &C) -> crate::entities::task_execution_log::TaskExecutionLog {
        let mut log = crate::entities::task_execution_log::TaskExecutionLog::new();
        log.update_action(action.to_string())
           .update_detail(detail.to_string())
           .update_task_id(self.id);
        log
    }
    pub fn transition_status(&mut self, _cmd: &impl std::any::Any) -> Result<(), String> {
        Ok(())
    }
{%- endif %}

    pub fn audit_as(self, comment: impl Into<String>) -> teaql_core::Audited<Self> {
        teaql_core::Audited::new(self, comment)
    }
    
    pub(crate) fn _save(mut self, ctx: &teaql_runtime::UserContext) -> std::pin::Pin<Box<dyn std::future::Future<Output = Result<teaql_runtime::GraphNode, std::io::Error>> + Send + '_>> {
        Box::pin(async move {
            let repo = ctx.resolve_repository::<crate::ServiceRuntimeExecutor>("{{ entity.name }}")
                .map_err(|e| std::io::Error::new(std::io::ErrorKind::Other, e.to_string()))?;
            let mut node = teaql_runtime::GraphNode::new("{{ entity.name }}");
            if self.deleted {
                node.operation = teaql_runtime::GraphOperation::Remove;
            } else if self.id == 0 {
                node.operation = teaql_runtime::GraphOperation::Create;
            } else {
                node.operation = teaql_runtime::GraphOperation::Upsert;
            }
            if !self.comment.is_empty() {
                node.comment = Some(self.comment.clone());
            }
            
            {%- for rel in entity.reverse_relations %}
            {%- if rel.many %}
            let mut items = Vec::new();
            let mut list = std::mem::take(&mut self.{{ rel.rust_name }});
            for item in list {
                let mut log_node = teaql_runtime::GraphNode::new("{{ rel.target_module }}");
                if item.deleted {
                    log_node.operation = teaql_runtime::GraphOperation::Remove;
                } else if item.id == 0 {
                    log_node.operation = teaql_runtime::GraphOperation::Create;
                } else {
                    log_node.operation = teaql_runtime::GraphOperation::Upsert;
                }
                log_node.values = teaql_core::Entity::into_record(item);
                items.push(log_node);
            }
            if !items.is_empty() {
                node.relations.insert("{{ rel.name }}".to_string(), items);
            }
            {%- endif %}
            {%- endfor %}
            
            let values = teaql_core::Entity::into_record(self);
            node.values = values;
            repo.save_graph(node).await.map_err(|e| std::io::Error::new(std::io::ErrorKind::Other, e.to_string()))
        })
    }
}

impl teaql_core::TeaqlEntity for {{ entity.rust_struct }} {
    fn entity_descriptor() -> teaql_core::EntityDescriptor {
        teaql_core::EntityDescriptor { 
            name: "{{ entity.name }}".to_string(),
            table_name: "{{ entity.name }}_data".to_string(),
            data_service: {% if entity.data_service %}Some("{{ entity.data_service }}".to_string()){% else %}None{% endif %},
            properties: vec![
                teaql_core::PropertyDescriptor {
                    name: "id".to_string(),
                    column_name: "id".to_string(),
                    data_type: teaql_core::DataType::U64,
                    nullable: false,
                    is_id: true,
                    is_version: false,
                },
                teaql_core::PropertyDescriptor {
                    name: "version".to_string(),
                    column_name: "version".to_string(),
                    data_type: teaql_core::DataType::I64,
                    nullable: false,
                    is_id: false,
                    is_version: true,
                },

                {%- for field in entity.fields %}
                {%- if field.rust_name != "id" and field.rust_name != "version" and field.rust_name != "deleted" %}
                teaql_core::PropertyDescriptor {
                    name: "{{ field.name }}".to_string(),
                    column_name: "{{ field.column_name }}".to_string(),
                    data_type: match "{{ field.rust_type }}" {
                        "String" | "Option<String>" => teaql_core::DataType::Text,
                        "u64" | "Option<u64>" => teaql_core::DataType::U64,
                        "i64" | "Option<i64>" => teaql_core::DataType::I64,
                        "i32" | "Option<i32>" => teaql_core::DataType::I64,
                        "bool" | "Option<bool>" => teaql_core::DataType::Bool,
                        "chrono::NaiveDate" | "Option<chrono::NaiveDate>" => teaql_core::DataType::Date,
                        "chrono::DateTime<chrono::Utc>" | "Option<chrono::DateTime<chrono::Utc>>" => teaql_core::DataType::Timestamp,
                        _ => teaql_core::DataType::Text,
                    },
                    nullable: {{ "false" if field.required else "true" }},
                    is_id: false,
                    is_version: false,
                },
                {%- endif %}
                {%- endfor %}
                {%- for rel in entity.relations %}
                {%- if not rel.many %}
                teaql_core::PropertyDescriptor {
                    name: "{{ rel.rust_name }}_id".to_string(),
                    column_name: "{{ rel.name }}".to_string(),
                    data_type: teaql_core::DataType::U64,
                    nullable: false, // relations usually not null in robot-kanban
                    is_id: false,
                    is_version: false,
                },
                {%- endif %}
                {%- endfor %}
            ],
            relations: vec![
                {%- for rel in entity.relations %}
                teaql_core::RelationDescriptor {
                    name: "{{ rel.name }}".to_string(),
                    target_entity: "{{ rel.target_module }}".to_string(),
                    local_key: "{{ 'id' if rel.many else rel.local_key }}".to_string(),
                    foreign_key: "{{ rel.local_key if rel.many else 'id' }}".to_string(),
                    many: {{ "true" if rel.many else "false" }},
                    attach: false,
                    delete_missing: {{ "true" if rel.delete_missing else "false" }},
                },
                {%- endfor %}
                {%- for rel in entity.reverse_relations %}
                teaql_core::RelationDescriptor {
                    name: "{{ rel.name }}".to_string(),
                    target_entity: "{{ rel.target_module }}".to_string(),
                    local_key: "{{ 'id' if rel.many else rel.local_key }}".to_string(),
                    foreign_key: "{{ rel.local_key if rel.many else 'id' }}".to_string(),
                    many: {{ "true" if rel.many else "false" }},
                    attach: false,
                    delete_missing: {{ "true" if rel.delete_missing else "false" }},
                },
                {%- endfor %}
            ],
            audit_mask_fields: vec![
                {%- for f in entity.audit_mask_fields %}
                "{{ f }}".to_string(),
                {%- endfor %}
            ],
            audit_value_max_len: {% if entity.audit_value_max_len %}Some({{ entity.audit_value_max_len }}){% else %}None{% endif %},
        }
    }
}

impl teaql_core::Entity for {{ entity.rust_struct }} {
    fn from_record(mut record: std::collections::BTreeMap<String, teaql_core::Value>) -> Result<Self, teaql_core::EntityError> {
        let mut entity = Self::new();
        if let Some(val) = record.remove("id") {
            if let teaql_core::Value::U64(v) = val { entity.id = v; }
            else if let teaql_core::Value::I64(v) = val { entity.id = v as u64; }
        }
        if let Some(val) = record.remove("version") {
            if let teaql_core::Value::I64(v) = val { entity.version = v; }
        }
        {%- for rel in entity.relations %}
        {%- if not rel.many %}
        if let Some(val) = record.remove("{{ rel.rust_name }}_id").or_else(|| record.remove("{{ rel.name }}")) {
            if let teaql_core::Value::U64(v) = val { entity.{{ rel.rust_name }}_id = Some(v); }
            else if let teaql_core::Value::I64(v) = val { entity.{{ rel.rust_name }}_id = Some(v as u64); }
        }
        {%- endif %}
        {%- endfor %}
        {%- for field in entity.fields %}
        {%- if field.rust_name != "id" and field.rust_name != "version" and field.rust_name != "deleted" %}
        if let Some(val) = record.remove("{{ field.column_name }}") {
            {%- if field.rust_type == "String" %}
            if let teaql_core::Value::Text(v) = val { entity.{{ field.rust_name }} = v; }
            {%- elif field.rust_type == "Option<String>" %}
            if let teaql_core::Value::Text(v) = val { entity.{{ field.rust_name }} = Some(v); }
            {%- elif field.rust_type == "i64" or field.rust_type == "u64" or field.rust_type == "i32" %}
            if let teaql_core::Value::I64(v) = val { entity.{{ field.rust_name }} = v as {{ field.rust_type }}; }
            {%- elif field.rust_type == "Option<u64>" %}
            if let teaql_core::Value::I64(v) = val { entity.{{ field.rust_name }} = Some(v as u64); }
            {%- elif field.rust_type == "bool" %}
            if let teaql_core::Value::Bool(v) = val { entity.{{ field.rust_name }} = v; }
            {%- endif %}
        }
        {%- endif %}
        {%- endfor %}
        Ok(entity)
    }

    fn into_record(self) -> std::collections::BTreeMap<String, teaql_core::Value> {
        let mut record = std::collections::BTreeMap::new();
        record.insert("id".to_string(), teaql_core::Value::U64(self.id));
        record.insert("version".to_string(), teaql_core::Value::I64(self.version));
        {%- for rel in entity.relations %}
        {%- if not rel.many %}
        if let Some(v) = self.{{ rel.rust_name }}_id {
            record.insert("{{ rel.rust_name }}_id".to_string(), teaql_core::Value::U64(v));
        }
        {%- endif %}
        {%- endfor %}
        {%- for field in entity.fields %}
        {%- if field.rust_name != "id" and field.rust_name != "version" and field.rust_name != "deleted" %}
        {%- if field.rust_type == "String" %}
        record.insert("{{ field.column_name }}".to_string(), teaql_core::Value::Text(self.{{ field.rust_name }}));
        {%- elif field.rust_type == "Option<String>" %}
        if let Some(v) = self.{{ field.rust_name }} { record.insert("{{ field.column_name }}".to_string(), teaql_core::Value::Text(v)); }
        {%- elif field.rust_type == "i64" or field.rust_type == "u64" or field.rust_type == "i32" %}
        record.insert("{{ field.column_name }}".to_string(), teaql_core::Value::I64(self.{{ field.rust_name }} as i64));
        {%- elif field.rust_type == "Option<u64>" %}
        if let Some(v) = self.{{ field.rust_name }} { record.insert("{{ field.column_name }}".to_string(), teaql_core::Value::I64(v as i64)); }
        {%- elif field.rust_type == "bool" %}
        record.insert("{{ field.column_name }}".to_string(), teaql_core::Value::Bool(self.{{ field.rust_name }}));
        {%- endif %}
        {%- endif %}
        {%- endfor %}
        record
    }
}

