use teaql_runtime::RepositoryBehavior;

#[derive(Clone, Debug, Default)]
pub struct {{ objectDescriptor.rust_struct_name }}Behavior;

impl RepositoryBehavior for {{ objectDescriptor.rust_struct_name }}Behavior {}
