[package]
name = "{{ crate_name }}"
version = "0.1.0"
edition = "2021"

[workspace]

[dependencies]
chrono = { version = "0.4", features = ["serde"] }
serde = { version = "1.0", features = ["derive"] }
teaql-core = "1.1.0"
teaql-runtime = "1.1.0"
teaql-provider-rusqlite = "1.1.0"
teaql-sql = "1.1.0"
serde_json = "1.0"
rusqlite = { version = "0.32", features = ["bundled"] }
