#[tokio::main]
async fn main() -> Result<(), Box<dyn std::error::Error>> {
{% if has_sql_provider %}
    let _runtime = {{ module_name }}::service_runtime_from_env().await?;

    // Uncomment the following line to generate sample data for testing:
    // {{ module_name }}::sample_data::generate_sample_data(&_runtime, {{ module_name }}::sample_data::SampleDataPlan::small()).await?;
{% else %}
    let _module = {{ module_name }}::module_with_behaviors_and_checkers();
{% endif %}
    Ok(())
}
